<section class="staff_member">
  {% include 'snippet-breadcrumbs' %}

  <div class="entry_content">

    <h2 class="sixteen columns blog-article-title">
      {{ article.title }}
    </h2>

    <div class="six columns">
      {{ article.excerpt }}
    </div>

    <div class="ten columns">
      {{ article.content }}
    </div>

    <div class="clear"></div>

  </div>

</section>
